@import "_my_variables.scss";

/* animazioni cambio pagina */
.page-enter-active {
  transition: opacity 1.5s;
}
.page-enter {
  opacity: 0;
}

.page-leave-active {
  transition: opacity 0.5s;
}
.page-leave-to {
  opacity: 0;
}

.title-color {
  color: $teal-lighten-4;
  text-shadow: -5px 0 #006977, 0 1px #006977, 1px 0 #006977, 0 -1px #006977;
}
.subtitle-color {
  color: #006977;
}
